*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.hd-accordian{
    height: 100vh;
    display: flex;
}


.item{
    position: relative;
    z-index: 1;
    flex: 1;
    transition: 0.7s cubic-bezier(0.69, 0.01, 0.25, 1);
    background-color: black;
    display: flex;
}

.item:hover{
    flex-grow: 2;
}


.item:hover .content{
    opacity: 1;
}

.item:hover .content .profile{
    transform: translateY(0);
    opacity: 1;
}


.bg{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-position: top center;
    transition: 0.3s ease;
}


.content{
    display: flex;
    flex: 1;
    background-color: white;
    opacity: 1;
    transition: 0.3s ease;
    justify-content: center;
}


.profile{
    transition: 0.7s cubic-bezier(0.69, 0.01, 0.25,1);
    transition-delay: 0.3s;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
    padding: 20px;
    opacity: 0;
    transform: translateY(70px);
}


.profile img{
    align-self: center;
    border-radius: 50%;
}


















